.left{
	float: left;
}
.paddingLeft{
	padding-left: 40px;
}
.top{
	margin-top: 60px;
}
section{
	margin-top: 50px;
	height: 950px;
}
 a{
 	color: lightgray;
	text-decoration: none;
}
span{
	font-weight: 400;
	font-size: 35px;
	color: lightgray;
	float: right;
	transition: 1s ease;
}
span:hover{
	cursor: pointer;
	transition: 1s ease;
	color: #808080;
}
.all{
	width: 60%;
	padding: 20px;
	margin: 0 auto;
	height: 550px;
	border: 1px solid #D5D5D5;
	
}
h3{
	font-weight: 600;
	color: rgb(50,58,69);
	font-family: 'Slabo 27px', serif;
}
p{
	width: 80%;
	font-size: 16px;
	color: rgb(96,96,96);
}
.form-control{
	border: 0;
	width: 80%;
}
.no-border {
    box-shadow: none; 
}
.form{
	position: relative;
    margin-bottom: 0;
    color: #323a45;
    padding: 8px 0;
    border-bottom:  2px solid lightgray;
}
.form span{
	font-size: 20px;
}
button{
	width: 100%;
	margin-top: 52px;
	background: #53B778;
	color: white;
	border: 1px solid #53B778;
	border-radius: 0px;
	height: 50px;
	transition: all .1s;
}
button:hover{
	transition: all .1s;
	background: white;
	color: #53B778;
}
.info{
	height: 90px;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid lightgray;
}
.info span{
	color: rgb(83,183,120);
	padding: 10px;
	font-size:  30px;
	border-right: 1px solid lightgray;
}
h6{
	margin: 0 auto;
	width: 50%;
	color: rgb(96,96,96);
	font-size: 20px;
}
.info p{
	margin: 0 auto;
	width: 50%;
	color: rgb(145,145,130);
	font-size: 18px;
	margin-top: 0;
}